* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #82D9A0;
}

header {
    background-image: linear-gradient(to bottom,#36BF66, #195935);
    padding: 10px;
    color: #fff;
    text-align: center;
}

nav {
    display: flex;
    margin-top: 20px;
    
}

nav > a {
    padding-right: 15px;
    text-decoration: none;
    font: bold;
    color: #fff;

  
}

h1 {
    text-transform: uppercase;
    margin: 15px;
}

main {
    width: 80%;
    margin: auto;
    background-color: #F2F2F2;
    padding: 10px;
}

main > h1, h2 {
    color: #195935;
    text-transform: uppercase;
    background-image: linear-gradient(to right,#82d9a067, #F2F2F2);
}

main > h2 {
    color: #2A8C4C;
    background-color: #82D9A0;
}

p {
    margin: 10px;
}

img {
    display: flex;
    margin: auto;
}

img#irina {
    width: 98%;
}

img#droids {
    width: 98%;
}

footer {
    background-color: #195935;
}
cores {
    color: #195935;
    color: #36BF66;
    color: #2A8C4C;
    color: #82D9A0;
    color: #F2F2F2;

}